* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow: hidden;
}

.main {
  display: flex;
  height: 100vh;
  width: 100vw;
  text-align: center;
  align-content: center;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.addClassroom {
  position: relative;
  width: 400px;
  min-height: 500px;
  background: rgba(255, 255, 255);
  border-radius: 10px;
  display: flex;
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  overflow: hidden;
}

.container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.btnx-box {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
}

.btnx {
  font-weight: 500;
  padding: 8px 30px;
  border: none;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.2s;
}

.btnx-1 {
  background: #21264d;
}

.btnx-1:hover {
  opacity: 0.85;
}

.login-form {
  position: relative;
  width: 100%;
  left: 50%;
}

.form-inputs {
  width: 100%;
}

/* .input-box {
  position: relative;
} */

.field {
  width: 100%;
  height: 45px;
  margin: 10px 0;
  border: none;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  padding: 0 40px 0 20px;
  background: rgba(255, 255, 255, 0.2);
  outline: none;
  backdrop-filter: blur(20px);
  text-align: left;
}

::placeholder {
  color: #fff;
  font-size: 15px;
}

.input-box .icon {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  color: black;
  width: 17px;
  height: 17px;
}

.title {
  color: black;
  font-size: 28px;
  font-weight: 600;
  margin: 20px;
}

.forgot-pass,
.remember-me {
  display: flex;
  justify-content: right;
  gap: 5px;
}

.forgot-pass a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.forgot-pass a:hover {
  text-decoration: underline;
}

.submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: #21264d;
  cursor: pointer;
  transition: 0.3s;
  width: 340px;
  font-size: large;
  font-weight: bold;
}

.submit-btn:hover {
  gap: 15px;
  transform: scale(1.05);
  opacity: 0.75;
}

.error-message {
  color: red;
  font-weight: 500;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
}

.upload-container {
  width: 300px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.dropzone {
  border: 2px dashed blueviolet;
  color: blueviolet;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: #f9f9f9;
  transition: background-color 0.3s ease;
}

.dropzone:hover {
  background-color: #f1f1f1;
}

.upload-label {
  display: block;
  cursor: pointer;
  font-weight: bold;
}

.preview{
    display: flex;
    justify-content: center;
}
.preview img {
  max-width: 50%;
  height: auto;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.upload-button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.upload-button:hover {
  background-color: #45a049;
}

.error-message {
  color: red;
  margin-top: 10px;
  font-weight: bold;
}