*{
    margin: 0px;
    padding: 0px;
}

.navbar_container {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 9%;
    background: transparent;
    border: 2px solid transparent;
}

.logo img {
    width: auto;
    height: 60px;
}

.navbar {
    display: flex;
}

.navbar a {
    color: white;
    margin-left: 60px;
    font-size: 13px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
}

.navbar a:hover {
    color: #E8FF00;
    font-weight: bolder;
    border-bottom: 2px solid white;
}

#menu-icon {
    color: white;
    font-size: 35px;
    z-index: 10000;
    cursor: pointer;
    display: none;
}