*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.main{
    display: flex;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, #f1f4f9, #dff1ff);
}

.box{
    position: absolute;
    filter: blur(120px);
}

#box1{
    top: 0%;
    width: 40%;
    height: 40%;
    background: #ff359b;
}

#box2{
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 50%;
    height: 50%;
    background: #fffd87;
}

#box3{
    position: absolute;
    bottom: 120px;
    right: 0%;
    width: 30%;
    height: 30%;
    background: #00d2ff;
}

.EmailVerify{
    position: absolute;
    width: 400px;
    min-height: 350px;
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    /* overflow: hidden; */
}

.btnx-box{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
}

.btnx{
    font-weight: 500;
    font-size: large;
    padding: 8px 30px;
    border: none;
    width: 80%;
    height: 40px;
    border-radius: 30px;
    background: rgba(255,255,255,0.2);
    color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: 0.2s;
}

.btnx-1{
    background: #21264D;
}

.btnx-1:hover{
    opacity: 0.65;
    transform: scale(1.05);
}

.inputContainer {
    margin: 20px;
    display: grid;
    width: 90%;
    justify-items: center;
    grid-template-columns: repeat(6, auto);
}

input {
    width: 40px;
    height: 40px;
    margin: 10px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    border: none;
}

input:focus{
    outline-color: blue;
}

.text{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.text span{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.text span:hover{
    text-decoration: underline;
}

.error-message {
    color: red;
    font-weight: 500;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}